<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Not Authorized</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content1">
        <div class="alert alert-danger m-3">
            <h2 class="align-content-center"> Not Authorized </h2>
        </div>
    </div>
</body>
</html>