<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-lg-4">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to My Banking App!</h1>
    <p class="lead">Manage your bank accounts and transactions easily.</p>
    <hr class="my-4">
    <p>Get started by exploring your accounts and making transactions.</p>
    <a class="btn btn-primary btn-lg" routerLink="/admin/customers" role="button">Explore Accounts</a>
  </div>
</div>

